<h1>menu view</h1>

<div class="row">
    {{#each menus}}
        <div class="col-sm-6 col-md-4">
            <a href="/kinds/1/menu" class="thumbnail">
                <h3 class="text-center">{{this.title}}</h3>
            </a>
        </div>
    {{/each}}
</div>