<h1>kind view</h1>

<div class="row">
    {{#each kinds}}
        <div class="col-sm-6 col-md-4">
            <a href="/menu/{{this.title}}" class="thumbnail text-center">
                {{this.title}}
            </a>
        </div>
    {{/each}}
</div>