<h1>new Menu</h1>
<div class="form-container">
    <form action="/admin/menu/new" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Menu Name">
        </div>
        <input type="submit" value="submit" class="btn btn-default"/>
    </form>
</div>